@model IEnumerable<WebsiteHouseBanDoNoiThat.Model.ChatLieu>

@{
    ViewBag.Title = "Index";
}

<h2>Danh Sách Chất Liệu</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Mã chất liệu
        </th>
        <th>
            Tên chất liệu
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaChatLieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenChatLieu)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaChatLieu }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.MaChatLieu }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.MaChatLieu })
        </td>
    </tr>
    }

</table>